[user]
	name = Peter Smit
	email = p.j.m.smit@student.utwente.nl
	signingkey = 0EAF063C2890D1F9
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = master
[core]
	autocrlf = input
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[pull]
	rebase = true
